<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      {{ site.description | escape }} <br>
      {{ site.paper-title | escape }} <br>
      {{ site.paper-authors | escape }} <br>
      {{ site.paper-submission | escape }}

    <!--<div class="footer-col-wrapper">-->
      <!--<div class="footer-col footer-col-3">-->
        <!--<ul class="contact-list">-->
          <!--<li class="p-name">-->
            <!--{% if site.author %}-->
              <!--{{ site.author | escape }}-->
            <!--{% else %}-->
              <!--{{ site.title | escape }}-->
            <!--{% endif %}-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--{% if site.email %}-->
            <!--&lt;!&ndash;<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>&ndash;&gt;-->
            <!--{% endif %}-->
        <!--</ul>-->
      <!--</div>-->

      <!--<div class="footer-col footer-col-2">-->
        <!--{% include social.html %}-->
      <!--</div>-->

      <!--<div class="footer-col footer-col-3">-->
        <!--<p>{{ site.description | escape }}</p>-->
      <!--</div>-->
    <!--</div>-->

  </div>

</footer>